<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Ads</title>
  <metaname="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="landing_page">
  <header>
  </header>

  <section class="general chat">
    <ul id="adsList">

      <h2 class="ad-text">General Post</h2>
      <% for(var i=0; i<crash.length; i++) {%>

        <li class="message ">

         <a href="<%= crash[i].url %>">
           <h3>
             <%= crash[i].title %>
           </h3>
            </a>
          <h4><%= crash[i].location %></h4>
          <h5><%= crash[i].date %></h5>
          <h5><%= crash[i].time %></h5>
          <p><%= crash[i].description %></p>

        </li>
        <% } %>
    </ul>
  </section>

  <section class="house chat">
    <ul id="adsList">

      <h2 class="ad-text">House Post</h2>
      <% for(var i=0; i<crash.length; i++) {%>
        <li class="message ">
          <a href="<%= crash[i].url %>">
            <h3>
              <%= crash[i].title %>
            </h3>
             </a>
          <h4><%= crash[i].location %></h4>
          <h5><%= crash[i].date %></h5>
          <h5><%= crash[i].time %></h5>
          <p><%= crash[i].description %></p>
        </li>
        <% } %>
    </ul>
  </section>


  <script src="main.js"></script>
</body>

</html>
