<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Crashers</title>
  <metaname="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="landing_page">
  <header>
  </header>

  <section class="general chat">
    <ul id="adsList">
      <h2 class="">General Post</h2>
      <% for(var i=crash.length-1; i>0; i--) {%>
        <% if (crash[i].group==0) { %>
          <li class="message ">
              <h3><a href="<%= crash[i].url %>"><%= crash[i].title %></a></h3>
              <h4><%= crash[i].address %></h4>
              <h5><%= crash[i].date %></h5>
              <h5><%= crash[i].time %></h5>
              <p><%= crash[i].description %></p>
          </li>
        <% } %>
        <% } %>
    </ul>
  </section>

  <section class="house chat">
    <ul id="adsList">
      <h2 class="">House Post</h2>
      <% for(var i=crash.length-1; i>0; i--) {%>
        <% if (crash[i].group==1) { %>
          <li class="message ">
              <h3><a href="<%= crash[i].url %>"><%= crash[i].title %></a></h3>
              <h4><%= crash[i].address %></h4>
              <h5><%= crash[i].date %></h5>
              <h5><%= crash[i].time %></h5>
              <p><%= crash[i].description %></p>
          </li>
        <% } %>
        <% } %>
    </ul>
  </section>
  <a class="new_post" href="/profile">Create Post</a>

  <script src="main.js"></script>
</body>

</html>
